# Aggressive .NET ignore
**/bin/**
**/obj/**
bin/
obj/
**/.vs/**
**/*.assets.cache
**/*.csproj.nuget.*
**/project.assets.json
**/project.nuget.cache

# Standard
*.user
*.suo
*.userosscache
[Dd]ebug/
[Rr]elease/

# IDE
.vs/
.vscode/
.idea/

# Other
.DS_Store
Thumbs.db
*.tmp